.all-projects {
    display: flex;
    flex-wrap: wrap;
}

.project-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.project {
    width: 300px;
    display: flex;
    border: 1px solid lightgrey;
    flex-direction: column;
    padding-bottom: 15px;
    margin: 15px auto;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.project_earned{
    font-size: 25px;
    margin-top: 155px;
    margin-left: 40px;
    padding: 15px;
    background-color: tomato;
    position: absolute;
    visibility: hidden;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.project__description {
    color: #777;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.project__buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.project__button {
    width: 30%;
    height: 40px;
    border: none;
    color: #ffffff;
    background-color: #51a299;
    cursor: pointer;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.project__button:hover {
    background-color: #ffffff;
    text-decoration: none;
    color: #51a299;
}

.project__button:focus {
    outline: 0;
}

.project__button_submit {
    margin-top: 20px;
}

.project__button_submit:hover {
    color: #000;
    background-color: #41954d;
    opacity: 0.6;
}

.project__button_add {
    font-size: 20px;
    width: 200px;
    text-decoration: none;
}

.project__title {
    color: #777;
    float: left;
    margin-top: -56px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 3px;
}

.project__info {
    padding: 10px 15px;
}

.project__money_required {
    color: #41954d;
}

.project__money_earned {
    color: #000;
}

.project__money_earned, .project__money_required {
    margin: 10px 0;
}

.project__money-info {
    font-weight: bold;
}
