.ucustarter-header{
    display: flex;
    justify-content: space-between;
    background: #000000;
    align-items: center;
    padding: 0 20px;
    color: #004f69;

}

.ucustarter-header__title {
    text-decoration: none;
    color: #ffffff;
}

.ucustarter-header__title:visited {
    color: #ffffff;
    text-decoration: none;
}
.ucustarter-header__title:hover {
    color: #51a299;
}

.ucustarter-header__title:active {
    text-decoration: none;
}